<html>
	<head>
		<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/my_style.css">
    <script type="text/javascript" src="/js/angular.min.js"></script>
    <script type="text/javascript" src="/js/frontend_app.js"></script>
    <script type="text/javascript" src="/js/login_app.js"></script>
    <script type="text/javascript" src="/js/register_app.js"></script>
    <script type="text/javascript" src="/js/list.js"></script>
	</head>
	<body  ng-app="projekt" ng-cloak>
    <div ng-controller="Bar as bar">
      <button ng-click="bar.send('register.html')"  class="btn btn-default">Register</button>
      <button ng-click="bar.send('login.html')" class="btn btn-default">Login</button>
      <button ng-click="bar.send('list.html')" class="btn btn-default">List</button>
      <div ng-include="bar.view"></div>
    </div>
    
    <div ng-show="loginSuccess || registerSuccess">
        Dobrodosli!
    </div>
	</body>
</html>