<div ng-controller="ListController as list">
  <ul>
      <li ng-repeat="user in list.users">{{ user.email }} {{ user.password }}
        <a href="#" ng-click="list.log(user)">log</a>
      </li>
  </ul>
</div>