<div ng-controller="LoginController as auth">
  <h2>Login</h2>
  <p> email <input ng-model="email"> equals {{ auth.email }}</p>
  <p> pass <input ng-model="pass"> equals {{ auth.pass }}</p>
  <button ng-click="auth.send(email, pass)" class="btn btn-danger" type="button">
    Send
  </button>
</div>