<div ng-controller="RegisterController as register">
  <h2>Register</h2>
  <p> email <input ng-model="email"> equals {{ register.email }}</p>
  <p> pass <input ng-model="pass"> equals {{ register.pass }}</p>
  <button ng-click="register.send(email, pass)" class="btn btn-danger" type="button">Send</button>

  <div ng-class="register.mojaKlasa"> {{ register.mojaKlasa}} </div>

  <div ng-class="x ? 'plavo': 'crveno' "> {{x}} </div>
  <button ng-click="x = !x"> toggle </button>
</div>
